{% extends 'base.html.twig' %}

{% block title %}Accueil - Work Together{% endblock %}

{% block body %}
    <section class="auth-section">
        <div class="container">
            <div class="card card-sm">
                <div class="card-body">

                    <h2 class="text-center mb-lg">Créer un compte</h2>

                    {{ form_start(registrationForm) }}

                    <div class="form-group mb-md">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-input'}}) }}
                    </div>

                    <div class="form-group mb-md">
                        {{ form_label(registrationForm.username) }}
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-input'}}) }}
                    </div>

                    <div class="form-group mb-md">
                        {{ form_label(registrationForm.type) }}
                        {{ form_widget(registrationForm.type, {'attr': {'class': 'form-input'}}) }}
                    </div>

                    <div class="form-group mb-md">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-input'}}) }}
                    </div>

                    <button class="btn btn-primary w-full">Créer mon compte</button>

                    {{ form_end(registrationForm) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
