{% extends 'base.html.twig' %}

{% block body %}
    <section class="section bg-gray">
        <div class="container max-w-lg mx-auto">
            <div class="card card-elevated">
                <div class="card-header">
                    <h2 class="card-title">{{ offre.label }}</h2>
                </div>
                <div class="card-body">
                    <p><strong>Unités :</strong> {{ offre.nbUnit }} unité{% if offre.nbUnit > 1 %}s{% endif %}</p>
                    <p><strong>Prix :</strong> {{ offre.price|number_format(0, ',', ' ') }}€/mois</p>
                    {% if offre.reduction > 0 %}
                        <p><strong>Réduction :</strong> -{{ offre.reduction }}%</p>
                    {% endif %}
                </div>
                <div class="card-body">
                    <a href="{{ path('app_offre_index') }}" class="btn btn-outline mt-4">Retour aux offres</a>
                </div>
                <div class="card-header">
                    <h2 class="card-title">Commander</h2>
                </div>
                <div class="card-body">
                    {% if app.user %}
                        {% if is_granted('ROLE_CUSTOMER') or is_granted('ROLE_COMPANY') %}
                            <p>Commande :</p>
                        {% else %}
                            <p>Vous devez être connecté en tant que "Client" ou "Entreprise" pour commander.</p>
                        {% endif %}
                    {% else %}
                        <p>Vous devez être connectés pour pouvoir commander.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
