<!-- Header -->
<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="SpaceHub" class="logo">
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="{{ path('app_home') }}" class="nav-link {%  if app.request.get('_route') == 'app_home' %}active {% endif %}">Accueil</a></li>
                <li><a href="{{ path('app_offre_index') }}" class="nav-link {%  if app.request.get('_route') == 'app_offre_index' %}active {% endif %}">Offres</a></li>
                {% if app.user %}
                    <li><a href="{{ path('user_unit') }}" class="nav-link {%  if app.request.get('_route') == 'user_unit' %}active {% endif %}">Mes Unités</a></li>
                {% endif %}
            </ul>
            <div class="nav-actions">
                {% if app.user %}
                    <a href="{{ path('user_profile', {id: app.user.id}) }}" class="btn">{{ app.user.username}}</a>
                    <a href="{{ path('app_logout') }}" class="btn btn-outline">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline">Connexion</a>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
